/* create wrapper */
.brush-wrap {
    position: relative;
    display: inline-block;
    padding: 3rem;
  }
  
  /* applying example animation (indefinite variant) */
  .brush-wrap.brush-wrap--indefinite:before {
    clip-path: url(#clip-indefinite);
  }
  
  /* clipping/animating object (pseudo element) */
  .brush-wrap:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #f98016;
    z-index: -1;
    clip-path: url(#clip); /* applying clip animation */
  }
  
  .brush-wrap p {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
    color: white;
    filter: drop-shadow(0px 0px 2px black);
  }