.contactus{
  background: url('./assets/banner.jpg');
  height: 40vh;
  background-position: center;
  background-size: 100% 100%;
}

.aboutus{
  background: url('./assets/banner.jpg');
  height: 40vh;
  background-position: center;
  background-size: 100% 100%;
}

.principal{
  background: url('./assets/banner.jpg');
  height: 40vh;
  background-position: center;
  background-size: 100% 100%;
}

.zooroad{
  background: url('./assets/banner.jpg');
  height: 40vh;
  background-position: center;
  background-size: 100% 100%;
}

.beltola{
  background: url('./assets/banner.jpg');
  height: 40vh;
  background-position: center;
  background-size: 100% 100%;
}

.sixmile{
  background: url('./assets/banner.jpg');
  height: 40vh;
  background-position: center;
  background-size: 100% 100%;
}

.moran{
  background: url('./assets/banner.jpg');
  height: 40vh;
  background-position: center;
  background-size: 100% 100%;
}

.dharmanagar{
  background: url('./assets/banner.jpg');
  height: 40vh;
  background-position: center;
  background-size: 100% 100%;
}

.class{
  background: url('./assets/banner.jpg');
  height: 40vh;
  background-position: center;
  background-size: 100% 100%;
}